version: '3.9'

services:
  db:
    image: postgres:14
    restart: unless-stopped
    environment:
      POSTGRES_DB: fisio
      POSTGRES_USER: fisio
      POSTGRES_PASSWORD: fisio
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - '6379:6379'
    command: ['redis-server', '--appendonly', 'yes']
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
